!!!
%html
  %head
    %title Songs!
    :css
      body {
        font-family: 'Helvetica';
      }

      h1 {
        text-align: center;
      }

      table {
        margin:auto;
      }

      th, td {
        padding: 0.2em;
        text-align: left;
      }

  %body
    %h1 Cities Ranking
    %div
      %table
        %tr
          %th City
          %th Songs played
        - @cities.each do |city|
          %tr
            %td= city.title
            %td= city.total_songs


